{% extends "index.html" %}

{% block head %}
<title>Projetos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/projetos.css') }}">
{% endblock %}

{% block content %}
<h2 class="text-white m-4">OS PROJETOS DO DISPLAY</h2>

<div id="cardsProjetos">
    <div class="card mb-3 cardProjeto layout1 border-0">
        <div class="row g-0">
            <div class="col-md-10 position-relative d-flex flex-column align-items-center">
                <div class="card-body mb-3">
                    <h5 class="card-title">DisplayCast</h5>
                    <p class="card-text">Um podcast fascinante que mergulha no mundo da tecnologia e carreira! Junte-se a nós enquanto exploramos os últimos avanços tecnológicos, compartilhamos insights valiosos sobre desenvolvimento profissional e mergulhamos em discussões instigantes com especialistas da indústria.</p>
                    <p>Se você é um entusiasta de tecnologia em busca de conhecimento, um profissional em transição de carreira ou alguém que busca conselhos valiosos para se destacar na indústria, esse o DisplayCast é perfeito para você. Aperte o play e embarque nesta jornada emocionante com a gente. Vamos explorar o mundo da tecnologia e descobrir os segredos para o sucesso profissional juntos!</p>
                </div>
                <a href="{{ url_for('displayCast') }}" class="saibaMaisBtn rounded-3 mb-3 text-center text-decoration-none">SAIBA MAIS</a>
            </div>
            <div class="col-md-2">
                <img src="{{ url_for('static', filename='imgs/projetos/displayCast.png') }}" class="img-fluid rounded-end cardProjetosImage" alt="DisplayCast Imagem">
            </div>
        </div>
    </div>

    <div class="card mb-3 cardProjeto layout2 border-0">
        <div class="row g-0">
            <div class="col-md-10 position-relative d-flex flex-column align-items-center">
                <div class="card-body mb-3">
                    <h5 class="card-title">Exterminando Drogas</h5>
                    <p class="card-text">"Exterminando Drogas" é um emocionante jogo educacional em 2D que busca conscientizar os jogadores sobre os perigos das drogas. Com gráficos desenhados à mão, o jogo transporta os jogadores para duas ilhas misteriosas, onde vivem dois corajosos irmãos. Infelizmente, sua amada irmã foi capturada por uma gangue de traficantes.
                        Determinados a resgatar sua irmã e combater o mal que assola as ilhas, os dois irmãos embarcam em uma jornada cheia de desafios e perigos. Nessa aventura de plataforma, eles devem superar obstáculos e enfrentar inimigos!</p>
                </div>
                <a href="{{ url_for('exterminandoDrogas') }}" class="saibaMaisBtn rounded-3 mb-3 text-center text-decoration-none">SAIBA MAIS</a>
            </div>
            <div class="col-md-2">
                <img src="{{ url_for('static', filename='imgs/postsProjetos/exterminandoDrogas/gameScreenshot.png') }}" class="img-fluid rounded-end cardProjetosImage" alt="Exterminando drogas Imagem">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}