{% extends "index.html" %}

{% block head %}
<title>Quem somos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
{% endblock %}

{% block content %}
<div class="categoria">
    <div class="tituloCategoria w-100 text-white">
        <h2>Servidores</h2>
    </div>
    <div class="integrantesCategoria w-100">
        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>

        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>

        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>

        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>

        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>
    </div>
</div>

<div class="categoria">
    <div class="tituloCategoria w-100 text-white">
        <h2>Dev. Jogos</h2>
    </div>
    <div class="integrantesCategoria w-100">
        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>

        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>
    </div>
</div>

<div class="categoria">
    <div class="tituloCategoria w-100 text-white">
        <h2>Mídias Digitais && Comunicação</h2>
    </div>
    <div class="integrantesCategoria w-100">
        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>

        <div class="card text-white m-2" style="width: 15rem;">
            <img src="{{ url_for('static', filename='imgs/sobre/felpsAnao.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-align-center tituloCard">Vytor/Felps</h5>
              <p class="card-text textCard">o foda, mais pika do lab, o fodão, ele memo</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}