{% extends "index.html" %}

{% block head %}
<title>DisplayCast</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/postsProjetos/displayCast.css') }}">
{% endblock %}


{% block content %}


<h1 id="tituloPrincipalDisplayCast" class="text-center">DisplayCast</h1>

<div id="descricaoDisplayCast">
    <p class="text-justify">
        Bem-vindo ao DisplayCast, um podcast fascinante que explora o mundo da tecnologia e carreira. Junte-se a nós para descobrir os últimos avanços tecnológicos, insights valiosos sobre desenvolvimento profissional e discussões instigantes com especialistas da indústria. Se você é um entusiasta de tecnologia, profissional em transição de carreira ou busca conselhos para se destacar, este é o podcast perfeito para você. Aperte o play e embarque nesta jornada emocionante para explorar o mundo da tecnologia e desvendar os segredos do sucesso profissional juntos!
    </p>
    <h2>Episodios:</h2>
</div>

<div id="todosEpisodios">
    <div class="card text-bg-dark mb-3 w-100 text-dark">
      <a href="#" class="text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='imgs/postsProjetos/displayCast/displayCastBanner.png') }}" class="card-img" alt="..." style="object-fit: cover; filter: grayscale(80%);">
        <div class="card-img-overlay">
          <h5 class="card-title">1. De estagiario a desenvolvedor senior em menos de 5 anos</h5>
          <p class="card-text">No episódio da vez, mergulhamos na inspiradora história de nosso convidado, um indivíduo excepcional que conseguiu alcançar o cargo de desenvolvedor sênior em menos de cinco anos, partindo de uma posição de estagiário. Nesta entrevista exclusiva, descobrimos as estratégias, desafios e aprendizados que levaram ele a trilhar uma jornada de sucesso tão impressionante.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </a>
    </div>
    <div class="card text-bg-dark mb-3 w-100 ">
      <a href="#" class="text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='imgs/postsProjetos/displayCast/displayCastBanner.png') }}" class="card-img" alt="..." style="object-fit: cover; filter: grayscale(80%);">
        <div class="card-img-overlay">
          <h5 class="card-title">2. De estagiario a desenvolvedor senior em menos de 5 anos</h5>
          <p class="card-text">No episódio da vez, mergulhamos na inspiradora história de nosso convidado, um indivíduo excepcional que conseguiu alcançar o cargo de desenvolvedor sênior em menos de cinco anos, partindo de uma posição de estagiário. Nesta entrevista exclusiva, descobrimos as estratégias, desafios e aprendizados que levaram ele a trilhar uma jornada de sucesso tão impressionante.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </a>
  </div>
</div>

{% endblock %}


{% block script %}
{% endblock %}